<% include header %>


<h1 class="m-2 text-center p-2">Contact Us</h1>
<div class="w-5/6 m-auto my-4 flex flex-wrap">
    <form action="/add/contact" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post">
        <div class="mb-4">

            <textarea name="contact_text" class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                type="text">
                </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Add
        </button>

    </form>

</div>
<h1 class="m-2 text-center p-2">Address Page Images</h1>
<div class="flex flex-wrap w-5/6 m-auto">
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/addr" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Address Page 1
                </label>

                <input name="address_page_1" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/addr" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Address Page 2
                </label>


                <input name="address_page_2" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/addr" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Address Page 3
                </label>

                <input name="address_page_3" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
</div>



<h1 class="m-2 text-center p-2">Payment Option Guide</h1>
<div class="flex flex-wrap w-5/6 m-auto">
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/paymentGuide" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Payment Option Guide 1
                </label>

                <input name="payment_guide_1_head" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="Heading Here">

                <textarea rows="" cols="" name="payment_guide_1" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Write Guide  Here"></textarea>

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/paymentGuide" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Payment Option Guide 1
                </label>

                <input name="payment_guide_2_head" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="Heading Here">

                <textarea rows="" cols="" name="payment_guide_2" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Write Guide  Here"></textarea>

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/paymentGuide" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Payment Option Guide 1
                </label>

                <input name="payment_guide_3_head" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="Heading Here">

                <textarea rows="" cols="" name="payment_guide_3" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Write Guide  Here"></textarea>

            </div>

            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
</div>
<h1 class="m-2 text-center p-2">Features</h1>
<div class="flex flex-wrap w-5/6 m-auto">
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/feature" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post"
            enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Feature 1
                </label>
                <input type="text" name="feature_text_1"
                class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
                <input name="feature_1" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/feature" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post"
            enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Feature 2
                </label>

                <input type="text" name="feature_text_2"
                class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
                <input name="feature_2" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/feature" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post"
            enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Feature 3
                </label>
                <input type="text" name="feature_text_3"
                class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
                <input name="feature_3" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>

    </div>
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
    <form action="/add/feature" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post"
        enctype="multipart/form-data">
        <div class="mb-4">

            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Feature 3
            </label>
            <input type="text" name="feature_text_4"
            class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" >
            <input name="feature_4" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                type="file">

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Add
        </button>

    </form>

</div>
</div>
<% include footer %>