<% include header %>
<div class="w-5/6 m-auto my-4 flex flex-wrap">
    <div class="w-full flex flex-wrap">
        <div class="p-4 m-4 text-center  flex-1 rounded bg-orange-light shadow">
            <h1 class="font-semibold text-grey-darkest" >
            <span id="total_products">LOADING...</span>
            Products
            </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-yellow-light shadow">
            <h1 class="font-semibold text-grey-darkest" >
            <span id="total_users">LOADING...</span>
            Users
            </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-green-light shadow">
            <h1 class="font-semibold text-grey-darkest" id="">
            <span id="total_orders">LOADING...</span>
             Items Ordered
             </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-green-lightest shadow">
            <h1 class="font-semibold text-grey-darkest" id="">
            <span id="total_deliveries">LOADING...</span>
            Items Delivered
            </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-red-light shadow">
            <h1 class="font-semibold text-grey-darkest" id="">
            <span id="total_cancellations">LOADING...</span>
                Ordered Cancelled
            </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-green shadow">
            <h1 class="font-semibold text-white" id="">
            <span id="total_shipping">LOADING...</span>
                Ordered Shipping Now
            </h1>
        </div>
        <div class="p-4 m-4 text-center  flex-1 rounded bg-blue-light shadow">
            <h1 class="font-semibold text-grey-darkest" id="">
            <span id="total_vendor">LOADING...</span>
            Vendor
        </h1>
    </div>
    </div>

    <div>

    </div>
</div>

<% include footer %>