<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/utilities.min.css">
        <link rel="stylesheet" href="/css/tailwind.min.css">
        <link rel="stylesheet" href="/css/utilities.min.css">
        <link rel="stylesheet" href="/css/preflight.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

        <!-- Include Editor style. -->
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

       <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css">
       </head>

<body>


<nav class="flex items-center justify-between flex-wrap bg-teal p-6">
  <div class="flex items-center flex-no-shrink text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">Admin</span>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/home" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Dashboard
      </a>
      <a href="/show/customer" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Customer
      </a>
      <a href="/show/banner" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Banners
      </a>
       <a href="/product" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Add Products

      </a>
        <a href="/show/product" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Show Products

      </a>
      <a href="/show/page" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Website Page

      </a>
      <a href="/show/contactBuy" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
        Contact &amp; Buy

      </a>
      <a href="/show/delivery" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
       Delivery
      </a>
      <a href="/show/order" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
       Order
      </a>
      <a href="/show/community" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
      Community & Donate
      </a>
      <a href="/show/header_footer" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
      Header & Footer
      </a>
      <a href="/register" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
      Register
     </a>
    </div>
    <div>

    <% if (user){ %>

      <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal hover:bg-white mt-4 lg:mt-0">logout</a>
    <% } %>
      </div>
  </div>
</nav>