<% include header %>



<h1 class="m-2 text-center p-2">Logos </h1>
<div class="flex flex-wrap">
    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/logo" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Logo
                </label>
                <input name="logo" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>

    <div class="w-1/3 m-auto my-4 flex flex-wrap">
        <form action="/add/logo2" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Logo - 2
                </label>
                <input name="logo2" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="file">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>


</div>
<h1 class="m-2 text-center p-2">Social Media Links </h1>
<div class="flex flex-wrap">
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/socialLink/fb" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" >
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Facebook
                </label>
                <input name="fb_link" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>

    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/socialLink/tt" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" >
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Twitter
                </label>
                <input name="tt_link" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/socialLink/insta" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" >
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Instagram
                </label>
                <input name="insta_link" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>
    <div class="w-1/4 m-auto my-4 flex flex-wrap">
        <form action="/add/socialLink/gplus" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post" >
            <div class="mb-4">

                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Google +
                </label>
                <input name="gplus_link" class="shadow appearance-none border rounded py-2 w-full px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                    type="text">

            </div>
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                Add
            </button>

        </form>
    </div>



</div>


<h1 class="m-2 text-center p-2">Donate Page description</h1>
<div class="w-5/6 m-auto my-4 flex flex-wrap">
    <form action="/add/donate" class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4" method="post">
        <div class="mb-4">

            <textarea name="donate" class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                type="text">
    </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button">
            Add
        </button>

    </form>
</div>



<% include footer %>