<% include header %>


<div class="w-full ">
  <form method="POST" action="/login" class="bg-white w-2/5   m-auto my-4 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input
      required
      class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
      name="username"
       type="text"
       placeholder="Username">
    </div>

    <div class="mb-6">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
      required
        class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
        name="password"
        type="password"
        placeholder="******************">

    </div>
    <div class="flex items-center justify-between">
      <button class="rounded shadow bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded inline-flex items-center"
      type="submit">
        Sign In
      </button>

    </div>
  </form>

</div>


<% include footer %>