<% include header %>
<div class="w-full m-auto my-4 text-grey-darker">
    <div class="py-4 " style="overflow:auto !important">
        <table
         style="overflow:auto !important"
          class="bg-white shadow-md border-collapse table-auto hover order-column   cell-border  order-column  pt-6 pb-8 mb-4 rounded "
          id="order_datatable">
            <thead>

                <tr>
                    <th> ID </th>
                    <th> Vendor ID </th>
                    <th>delivery Location</th>
                    <th>userID</th>
                    <th>Cart ID</th>
                    <th>Transaction ID</th>
                    <th>Product ID</th>
                    <th>Vendor ID</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Mobile No</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<% include footer %>