<% include header %>

<div class="w-full m-auto my-4 text-grey-darker">
    <div class="py-4 " style="overflow:auto !important">
        <table
         style="overflow:auto !important"
          class="bg-white shadow-md border-collapse table-auto hover order-column   cell-border  order-column  pt-6 pb-8 mb-4 rounded "
          id="product_datatable">
            <thead>
                <tr>
                    <th>Action</th>
                    <th >_id</th>

                    <th>name</th>
                    <th>metaData</th>
                    <th>description</th>
                    <th>_vendorID</th>
                    <th>favCount </th>
                     <th>old_price</th>
                    <th>QualityType</th>
                    <th>highlights</th>
                    <th>isPopular </th>
                     <th>rating</th>
                    <th>category </th>
                    <th>subCategory</th>
                    <th>price</th>
                    <th>Terms And Conditions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>








<% include footer %>