<% include header %>
<style>
.fr-box.fr-basic.fr-top .fr-wrapper{
    min-height:15em;
}
</style>

<h1 class="m-2 text-center p-2">About Sections</h1>
    <div class="w-5/6 m-auto my-4 flex flex-wrap">
        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="aboutus_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>


    <h1 class="m-2 text-center p-2">Payment Sections</h1>

        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="payment_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>


    <h1 class="m-2 text-center p-2">Shpping And Delivery Sections</h1>

        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="shipping&delivery_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>


    <h1 class="m-2 text-center p-2">Guides Sections</h1>

        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="guides_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>



    <h1 class="m-2 text-center p-2">Privacy Sections</h1>

        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="privacy_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>



    <h1 class="m-2 text-center p-2">Terms & Condition Sections</h1>

        <form
        action="/add/page"
        class="bg-white shadow-md rounded  w-full  px-8 pt-6 pb-8 mb-4"
        method="post"
    >
        <div class="mb-4">

            <textarea

            name="terns&condition_text"
            class="shadow editor appearance-none border my-2 w-full rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
            type="text"
             >
            </textarea>

        </div>
        <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Add
    </button>

    </form>


    </div>
<% include footer %>