<% include layouts/header %>
<style>
 *, :before, :after {
  box-sizing: border-box;
}


.wrapper {
  flex-grow: 2;
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 6em;
  font-weight: 100;
}

p {
  width: 100%;
  font-size: 1.5em;
  line-height: 2.4;
}

.buttons {
  white-space: nowrap;
  display: inline-block;
}





.space {
  width: 75px;
  height: calc(50vh + 5px);
  border-top-left-radius: 37.5px;
  border-top-right-radius: 37.5px;
  overflow: hidden;
  margin: calc(50vh - 37.5px) auto 0 auto;
  position: relative;
  pointer-events: none;
  margin-top: 4rem;
  -webkit-transform: translateZ(0);
}

.blackhole {
  border: 5px solid #1674D1;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.blackhole:after {
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 5px solid #1674D1;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 5;
  transform: rotate(45deg);
}

.ship {
  height: 150px;
  width: 55px;
  margin-left: 10px;
  background: url("https://cbwconline.com/IMG/Codepen/Space%20Ship.svg") center/contain no-repeat;
  animation: blackhole 4s infinite linear;
  position: absolute;
  bottom: -150px;
}

@keyframes blackhole {
  to {
    transform: translateY(-100vh);
  }
}
@media (max-width: 600px) {
  body {
    margin: 0 5vw;
  }
}
</style>
<div class="alignment-container" style="padding:3em 0 ">
        <div class="">
                <div class="wrapper" style="text-align: center" >
                    <h1>Hmm. 404 </h1>
                    <p>It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.
                        </p>
                    <a href="/" class="m-btn blue-btn m-box-shadow-full ">
                            Home
                    </a>
                
                </div>
                <div class="space">
                    <div class="blackhole"></div>
                    <div class="ship"></div>
                </div>
           
      
        </div>
</div>


<% include layouts/footer %>