
<style>
        .verticl-space{
                height: 4em;
                position: relative;
        }
</style>
<% include layouts/header %>
<% include layouts/centerTopFront %>
<div class="col-md-12">
<div class="container-fluid " >


        <% include layouts/popular-product %>
        <% include layouts/offer-panel%>

        <% include layouts/recomended-product %>


        <% include layouts/offer-panel-2 %>
        <% include layouts/newsletter %>
</div>
</div>
<div class="verticl-space"></div>



<script src="js/jquery-1.12.4.js"></script>


<% include layouts/brands %>
<% include layouts/footer %>