<% include layouts/header %>


<div class="container-fluid bg-2" >
<div class="row center-top">
    <div class="col-md-1"></div>
    <div class="col-md-8 p-h-0  helper-page-content">
            <div class="col-md-12  m-border-right" id="about">
            <h1 class="med-heading med-light">About Us</h1>
                <div class="col-md-12">
                    <div class="col-md-12 p-h-0">

                            <div class="col-md-12 p-h-0" id="aboutus_text">
                                    <p class="long-para brdr-top">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget porta justo. Fusce sed ipsum lacinia metus aliquet pharetra. Ut rhoncus velit sed mollis faucibus. Nunc id metus sapien. Fusce efficitur egestas magna nec bibendum. Phasellus ut maximus augue, ullamcorper faucibus tortor. In porta tortor vel dui ornare mattis. Nam imperdiet risus diam, vel iaculis mauris laoreet ut.


                                        sent sed nulla porta, fermentum massa a, sodales lectus. Nunc cursus nunc quam. Vivamus in nibh elit. Nullam diam metus, maximus vel massa id, porttitor egestas erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus quis ex sit amet rhoncus. Etiam nec consequat leo, imperdiet tristique arcu. Fusce tristique leo hendrerit, pharetra nisi nec, fringilla velit. Cras in semper ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend gravida lectus volutpat efficitur. Suspendisse quis tellus eu diam faucibus efficitur. Nulla cursus ac nisl a pulvinar. Duis ac eros faucibus, hendrerit ligula at, rhoncus dolor.

                                            Curabitur convallis nulla nec lorem pretium molestie. Duis varius accumsan egestas. Maecenas et ultrices sapien. Nunc mi mauris, interdum nec est non, euismod dapibus nisl. Duis mollis dolor nec ante pellentesque, nec ultrices orci efficitur. Etiam vitae nunc vestibulum, tempus mauris sit amet, semper velit. Vestibulum non nibh id ante tempor fringilla eget nec dui. Mauris ornare et est sit amet suscipit.
                                    </p>

                            </div>
                            <div class="col-md-12 m-half-auto">
                                <div class="team-img col-md-12">
                                    <div class="round-div m-auto-half col-md-2">
                                        <img src="images/icon/man.svg" alt="" srcset="">
                                        <span class="team-tag-name long-para">Name, <span>Role</span> </span>
                                    </div>
                                    <div class="round-div m-auto-half col-md-2">
                                            <img src="images/icon/man.svg" alt="" srcset="">
                                            <span class="team-tag-name long-para">Name, <span>Role</span> </span>
                                    </div>
                                    <div class="round-div m-auto-half col-md-2">
                                            <img src="images/icon/man.svg" alt="" srcset="">
                                            <span class="team-tag-name long-para">Name, <span>Role</span> </span>
                                    </div>
                                    <div class="round-div m-auto-half col-md-2">
                                            <img src="images/icon/man.svg" alt="" srcset="">
                                            <span class="team-tag-name long-para">Name, <span>Role</span> </span>
                                    </div>
                                    <div class="round-div m-auto-half col-md-2">
                                            <img src="images/icon/man.svg" alt="" srcset="">
                                            <span class="team-tag-name long-para">Name, <span>Role</span> </span>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-12 ht-5"></div>
                            <div class="col-md-12 p-h-0 m-half-auto devs" id="developers">
                                <span class="sub-bill m-half-auto brdr-btm p-1 p-h-0">Developers</span>
                                <div class="col-md-12 p-h-0 p-2">
                                    <a href="#" >
                                        <div class="name-tag">
                                             <img style="    width: 40px; margin:.5em; "  src="images/icon/man.svg" alt="" srcset="">
                                        <span> Aniketh Saha</span>
                                        </div>

                                    </a>
                                 
                                </div>

                            </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12  m-border-right" id="paymentOpt">
            <h1 class="med-heading med-light">Payment Option</h1>
                <div class="col-md-12">

                    <div class="dummy-div">
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>

                    </div>

                </div>
            </div>
            <div class="col-md-12  m-border-right" id="ship-del">
            <h1 class="med-heading med-light">Shipping And Delivery</h1>
                <div class="col-md-12">

                    <div class="dummy-div">
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>

                    </div>

                </div>
            </div>
            <div class="col-md-12  m-border-right" id="guide">
            <h1 class="med-heading med-light">Guides</h1>
                <div class="col-md-12">

                    <div class="dummy-div">
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>
                        <div class="dummy line"></div>

                    </div>

                </div>
            </div>
            <div class="col-md-12  m-border-right" id="pp">
            <h1 class="med-heading med-light">Privacy Policy</h1>
                    <div class="col-md-12">

                            <div class="col-md-12 p-h-0">
                                    <span class="sub-bill m-half-auto">Last updated on February 13, 2018</span>
                                    <p class="long-para brdr-top">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget porta justo. Fusce sed ipsum lacinia metus aliquet pharetra. Ut rhoncus velit sed mollis faucibus. Nunc id metus sapien. Fusce efficitur egestas magna nec bibendum. Phasellus ut maximus augue, ullamcorper faucibus tortor. In porta tortor vel dui ornare mattis. Nam imperdiet risus diam, vel iaculis mauris laoreet ut.

                                            Nulla maximus lacus sed urna venenatis tincidunt. Etiam consequat iaculis feugiat. Pellentesque aliquam hendrerit felis tempus fermentum. Mauris nibh leo, vehicula non pharetra id, ultricies non ipsum. Quisque viverra diam egestas eros viverra, sit amet tincidunt ligula tempus. Sed vitae nisl vitae nibh elementum rhoncus non sit amet tortor. Suspendisse purus orci, hendrerit eget sem id, consectetur egestas nulla. Donec placerat ex augue. Nulla eu dignissim nulla. Cras vestibulum leo eget magna interdum pharetra. Sed ipsum justo, volutpat in purus sed, eleifend luctus magna. Fusce vestibulum libero a laoreet consequat. Vestibulum vulputate neque lectus, a rhoncus justo euismod quis.

                                            Aliquam nunc nisi, malesuada eu facilisis et, posuere porta velit. In pulvinar, erat eu vulputate molestie, magna mi molestie erat, et imperdiet quam eros a tortor. Vivamus tempus tristique nibh, id aliquam nulla molestie ac. Suspendisse ipsum magna, semper et interdum eu, suscipit nec libero. Aenean placerat neque accumsan, efficitur turpis in, dapibus libero. Etiam a varius nisl. Donec dictum nunc nec nibh pellentesque maximus. Nulla at maximus dolor. Fusce maximus hendrerit posuere. Praesent interdum, lacus non tincidunt condimentum, massa eros posuere felis, ut consequat urna ante sit amet lorem. Etiam euismod tempor viverra. Aenean vulputate sodales odio tincidunt eleifend. Nunc tincidunt massa quis dui viverra, quis condimentum tellus sodales. Proin ut turpis aliquam quam molestie vulputate. Sed eleifend ultricies augue nec laoreet. Aliquam elementum augue ac venenatis auctor.

                                            Praesent sed nulla porta, fermentum massa a, sodales lectus. Nunc cursus nunc quam. Vivamus in nibh elit. Nullam diam metus, maximus vel massa id, porttitor egestas erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus quis ex sit amet rhoncus. Etiam nec consequat leo, imperdiet tristique arcu. Fusce tristique leo hendrerit, pharetra nisi nec, fringilla velit. Cras in semper ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend gravida lectus volutpat efficitur. Suspendisse quis tellus eu diam faucibus efficitur. Nulla cursus ac nisl a pulvinar. Duis ac eros faucibus, hendrerit ligula at, rhoncus dolor.

                                            Curabitur convallis nulla nec lorem pretium molestie. Duis varius accumsan egestas. Maecenas et ultrices sapien. Nunc mi mauris, interdum nec est non, euismod dapibus nisl. Duis mollis dolor nec ante pellentesque, nec ultrices orci efficitur. Etiam vitae nunc vestibulum, tempus mauris sit amet, semper velit. Vestibulum non nibh id ante tempor fringilla eget nec dui. Mauris ornare et est sit amet suscipit.
                                    </p>
                            </div>
                         </div>
            </div>
            <div class="col-md-12  m-border-right" id="tnc">
            <h1 class="med-heading med-light">Terms & Conditions</h1>
                <div class="col-md-12">

                    <div class="col-md-12 p-h-0">
                            <span class="sub-bill m-half-auto">Last updated on February 13, 2018</span>
                            <p class="long-para brdr-top">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget porta justo. Fusce sed ipsum lacinia metus aliquet pharetra. Ut rhoncus velit sed mollis faucibus. Nunc id metus sapien. Fusce efficitur egestas magna nec bibendum. Phasellus ut maximus augue, ullamcorper faucibus tortor. In porta tortor vel dui ornare mattis. Nam imperdiet risus diam, vel iaculis mauris laoreet ut.

                                    Nulla maximus lacus sed urna venenatis tincidunt. Etiam consequat iaculis feugiat. Pellentesque aliquam hendrerit felis tempus fermentum. Mauris nibh leo, vehicula non pharetra id, ultricies non ipsum. Quisque viverra diam egestas eros viverra, sit amet tincidunt ligula tempus. Sed vitae nisl vitae nibh elementum rhoncus non sit amet tortor. Suspendisse purus orci, hendrerit eget sem id, consectetur egestas nulla. Donec placerat ex augue. Nulla eu dignissim nulla. Cras vestibulum leo eget magna interdum pharetra. Sed ipsum justo, volutpat in purus sed, eleifend luctus magna. Fusce vestibulum libero a laoreet consequat. Vestibulum vulputate neque lectus, a rhoncus justo euismod quis.

                                    Aliquam nunc nisi, malesuada eu facilisis et, posuere porta velit. In pulvinar, erat eu vulputate molestie, magna mi molestie erat, et imperdiet quam eros a tortor. Vivamus tempus tristique nibh, id aliquam nulla molestie ac. Suspendisse ipsum magna, semper et interdum eu, suscipit nec libero. Aenean placerat neque accumsan, efficitur turpis in, dapibus libero. Etiam a varius nisl. Donec dictum nunc nec nibh pellentesque maximus. Nulla at maximus dolor. Fusce maximus hendrerit posuere. Praesent interdum, lacus non tincidunt condimentum, massa eros posuere felis, ut consequat urna ante sit amet lorem. Etiam euismod tempor viverra. Aenean vulputate sodales odio tincidunt eleifend. Nunc tincidunt massa quis dui viverra, quis condimentum tellus sodales. Proin ut turpis aliquam quam molestie vulputate. Sed eleifend ultricies augue nec laoreet. Aliquam elementum augue ac venenatis auctor.

                                    Praesent sed nulla porta, fermentum massa a, sodales lectus. Nunc cursus nunc quam. Vivamus in nibh elit. Nullam diam metus, maximus vel massa id, porttitor egestas erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus quis ex sit amet rhoncus. Etiam nec consequat leo, imperdiet tristique arcu. Fusce tristique leo hendrerit, pharetra nisi nec, fringilla velit. Cras in semper ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend gravida lectus volutpat efficitur. Suspendisse quis tellus eu diam faucibus efficitur. Nulla cursus ac nisl a pulvinar. Duis ac eros faucibus, hendrerit ligula at, rhoncus dolor.
                                  abitur convallis nulla nec lorem pretium molestie. Duis varius accumsan egestas. Maecenas et ultrices sapien. Nunc mi mauris, interdum nec est non, euismod dapibus nisl. Duis mollis dolor nec ante pellentesque, nec ultrices orci efficitur. Etiam vitae nunc vestibulum, tempus mauris sit amet, semper velit. Vestibulum non nibh id ante tempor fringilla eget nec dui. Mauris ornare et est sit amet suscipit.

                            </p>
                    </div>
                 </div>
            </div>
    </div>
    <div class="col-md-2 helper-page-handler p-h-0">
        <ul class="p-h-0">
            <a href="#about"   id="about-handler" ><li><span class="  p-1 p-v-0 simple-txt ">AboutUS</span> </li></a>
            <a href="#paymentOpt" id="paymentOpt-handler"><li><span class="  p-1 p-v-0 simple-txt ">Payment Options</span></li></a>
            <a href="#ship-del" id="ship-del-handler"><li><span class="  p-1 p-v-0 simple-txt ">Shipping &AMP; Delivery</span></li></a>

            <a href="#guide"   id="guide-handler" ><li><span class="  p-1 p-v-0 simple-txt ">Guides</span> </li></a>
            <a href="#pp" id="pp-handler"><li><span class="  p-1 p-v-0 simple-txt ">Privacy Policy</span></li></a>
            <a href="#tnc" id="tnc-handler"><li><span class="  p-1 p-v-0 simple-txt ">Terms &AMP; Condition</span></li></a>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
<script>
    $(window).on('load',async e => {

    })
   $(window).on('hashchange',e => {
       var hash = window.location.hash != '' ? window.location.hash : '#about';
       console.log('hash :', hash);
       $('.helper-page-content > div').hide()
       $('.helper-page-content > div').filter(hash).show();
       $('.helper-page-handler ul li ').removeClass('hp-handler-active')
       $(`${hash}-handler li `).addClass('hp-handler-active');
   }).trigger('hashchange')

</script>


<script>
$.ajax({
    url:"/show/banners/aboutus_text",
    type:"get",
    success :(res)=>{
        $('#aboutus_text').html(res[0].banner_text)
    }
})
$.ajax({
    url:"/show/banners/payment_text",
    type:"get",
    success :(res)=>{
        $('#paymentOpt div ').html(res[0].banner_text)
    }
})
$.ajax({
    url:"/show/banners/shipping&delivery_text",
    type:"get",
    success :(res)=>{
        $('#ship-del div').html(res[0].banner_text)
    }
})


$.ajax({
    url:"/show/banners/guides_text",
    type:"get",
    success :(res)=>{
        $('#guide div').html(res[0].banner_text)
    }
})











$.ajax({
    url:"/show/banners/terns&condition_text",
    type:"get",
    success :(res)=>{
        $('#tnc div').html(res[0].banner_text)
    }
})
$.ajax({
    url:"/show/banners/privacy_text",
    type:"get",
    success :(res)=>{
        $('#pp div').html(res[0].banner_text)
    }
})
</script>



<% include layouts/footer %>
