<style>
    .single_catagory_area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 240px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-align: center
}
.o-5{
    opacity: .5;
}
.bg-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.single_catagory_area .catagory-content a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.category-content{
    position: relative;
    height: 8em;
    overflow: hidden;
    margin-top: 13px;
    padding: 0;
  text-align: left;
    overflow: hidden;
    background-color: #f5f7f9;
    display: block;
   
}
.category-content div{
    position: absolute;
    top: 20%;
    font-size: 3em;
    left: 20%;

}
</style>


<div class="top_catagory_area section-padding-80 clearfix">
        <div class="center-top">
            <div class="">
               <a href="/product/Men" class="category-content">
                   <div>
                       <span> Men</span>
                   </div>
               </a>
               <a href="/product/Women" class="category-content">
                    <div>
                        <span> Women</span>
                    </div>
                </a>
                <a href="/product/Kids" class="category-content">
                        <div>
                            <span>Kids</span>
                        </div>
                </a>
                <a href="/product/Sports" class="category-content">
                        <div>
                            <span>Sports</span>
                        </div>
                </a>
            </div>
        </div>
    </div>