<div id="filter-container">
        <div>
            <h3>Select Service</h3>

        </div>
        <hr>
        <div>
            <input type="checkbox" id="breakfast_vendor">
            <label id="breakfast_label"> Breakfast</label>
        </div>
        <div>
            <input type="checkbox" id="breakfast_vendor">
            <label id="lunch_label"> Lunch</label>
        </div>
        <div>
            <input type="checkbox" id="breakfast_vendor">
            <label id="dinner_label"> Dinner</label>
        </div>
        <hr>
        <div class="form-group ">
            <label for="vendor_sort">Sort By</label>
                <div id="sortOptions">
                    <select data-placeholder="Sort Criteria" id="sort_type" class="chosen-select form-control">
                        <option value="abohar">Rating</option>
                        <option value="agra">Delivery Charge</option>
                    </select>
                </div>
        </div>
    </div>