<style>
    footer{
        /* position: absolute;
    bottom: 0;
    width: 100%; */
    }
</style>
 <% include script-footer %>

</body>
<footer class="">
        
        <% include bottom-footer %>
</footer>
</html>