<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Welcome to Tastymeal</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta charset='UTF-8'>
    <meta name='keywords' content='your, tags'>
    <meta name='description' content='150 words'>
    <meta name='subject' content='your website's subject'>
    <meta name='copyright' content='company name'>
    <meta name='language' content='ES'>
    <meta name='robots' content='index,follow'>
    <meta name='revised' content='Sunday, July 18th, 2010, 5:15 pm'>
    <meta name='abstract' content=''>
    <meta name='topic' content=''>
    <meta name='summary' content=''>
    <meta name='Classification' content='Business'>
    <meta name='author' content='name, email@hotmail.com'>
    <meta name='designer' content=''>
    <meta name='reply-to' content='email@hotmail.com'>
    <meta name='owner' content=''>
    <meta name='url' content='http://www.websiteaddrress.com'>
    <meta name='identifier-URL' content='http://www.websiteaddress.com'>
    <meta name='directory' content='submission'>
    <meta name='pagename' content='jQuery Tools, Tutorials and Resources - O'Reilly Media'>
    <meta name='category' content=''>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='subtitle' content='This is my subtitle'>
    <meta name='target' content='all'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>
    <meta name='date' content='Sep. 27, 2010'>
    <meta name='search_date' content='2010-09-27'>
    <meta name='DC.title' content='Unstoppable Robot Ninja'>
    <meta name='ResourceLoaderDynamicStyles' content=''>
    <meta name='medium' content='blog'>
    <meta name='syndication-source' content='https://mashable.com/2008/12/24/free-brand-monitoring-tools/'>
    <meta name='original-source' content='https://mashable.com/2008/12/24/free-brand-monitoring-tools/'>
    <meta name='verify-v1' content='dV1r/ZJJdDEI++fKJ6iDEl6o+TMNtSu0kv18ONeqM0I='>
    <meta name='y_key' content='1e39c508e0d87750'>
    <meta name='pageKey' content='guest-home'>
    <meta itemprop='name' content='jQTouch'>
    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>
    <meta http-equiv='x-dns-prefetch-control' content='off'>
    <meta name="og:title" content="The Rock"/>
    <meta name="og:type" content="movie"/>
    <meta name="og:url" content="http://www.imdb.com/title/tt0117500/"/>
    <meta name="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
    <meta name="og:site_name" content="IMDb"/>
    <meta name="og:description" content="A group of U.S. Marines, under command of..."/>

    <meta name="fb:page_id" content="43929265776" />

    <meta name="og:email" content="me@example.com"/>
    <meta name="og:phone_number" content="650-123-4567"/>
    <meta name="og:fax_number" content="+1-415-123-4567"/>

    <meta name="og:latitude" content="37.416343"/>
    <meta name="og:longitude" content="-122.153013"/>
    <meta name="og:street-address" content="1601 S California Ave"/>
    <meta name="og:locality" content="Palo Alto"/>
    <meta name="og:region" content="CA"/>
    <meta name="og:postal-code" content="94304"/>
    <meta name="og:country-name" content="USA"/>

    <meta property="og:type" content="game.achievement"/>
    <meta property="og:points" content="POINTS_FOR_ACHIEVEMENT"/>

    <meta property="og:video" content="http://example.com/awesome.swf" />
    <meta property="og:video:height" content="640" />
    <meta property="og:video:width" content="385" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video" content="http://example.com/html5.mp4" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video" content="http://example.com/fallback.vid" />
    <meta property="og:video:type" content="text/html" />

    <meta property="og:audio" content="http://example.com/amazing.mp3" />
    <meta property="og:audio:title" content="Amazing Song" />
    <meta property="og:audio:artist" content="Amazing Band" />
    <meta property="og:audio:album" content="Amazing Album" />
    <meta property="og:audio:type" content="application/mp3" />




    <!-- <meta name="csrf-token" content="{{ csrf_token() }}"> -->
    <script src="/js/jquery-1.12.4.js"></script>

  <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/toastr.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/front.css" type="text/css" />
    <link rel="stylesheet" href="/css/newStyle.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" type="text/css" />
    <script src="/js/jquery.flexslider.js" type="text/javascript"></script>
    <script src="/js/imagezoom.js" type="text/javascript"></script>

</head>
<style>

</style>

<body>




	<nav class="navbar navbar-default navbar-fixed-top" id="hidable">
  <div class="top-head">
    <div class="nav-div">
      <span><a href="/community"> Community</a></span>
      <span><a href="mailto:"> EMAIL US : help@website.com</a></span>
      <span><a href="/contact">CONTACT US </a></span>
    </div>
  </div>
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <div class="left-menu">
              <span>
                  <i class="fa fa-th" aria-hidden="true" id="left-m-hndlr" ></i>

              </span>


              </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="logo" id="hlogo" href="/">
            <img width="180px" height="40px " src="/images/website-img/logo.png">
          </a>



        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% include search-bar %>
          <ul class="nav navbar-nav">
            <% if(!user){ %>

              <li><a id="auth-btn" class="line-ht-big">LOGIN & REGISTER</a></li>
           <% }else{ %>


            <li><a href="#" id="user-btn" ><i class="fa fa-user-circle-o my-custom-icon" style="    margin: .3em auto;font-size:24px"></i></a></li>
            <% } %>


            <li><a href="/cart" >
              <i class="fa fa-shopping-bag my-custom-icon" style="margin: .3em auto;font-size:24px"></i>
              <% if(user){ %>
                <span class="cart-badge" id="c-bdge">  </span>
              <% } %>
            </a>
            </li>



            <div class="">
            <div class="header-drop-down-div m-shadow" id="auth-btn-target">
              <ul class="col-md-12  p-h-0 m-h-0 m-v-0">
                <li class="m-v-0 m-h-0"  ><a href="/auth/login">Login</a></li>
                <li class="m-v-0 m-h-0" ><a href="/auth/register">register</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="header-drop-down-div m-shadow" id="user-btn-target">
              <ul class="col-md-12  p-h-0 m-h-0 m-v-0">
                <li class="m-v-0 m-h-0"  ><a href="/auth/logout">Logout </a></li>
                <li class="m-v-0 m-h-0" ><a href="/profile/">Profile</a></li>
              </ul>
            </div>
          </div>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>
   <% include left-sub-menu %>
    <br/>
    <br/>
    <br/>



<script>

  $('#auth-btn').hover(e => {
    $('#auth-btn-target').toggleClass('open');
  })
  $('#auth-btn-target ul').hover(e => {
    $('#auth-btn-target').toggleClass('open');
  })

  $('#user-btn').hover(e => {
    $('#user-btn-target').toggleClass('open');
  })
  $('#user-btn-target ul').hover(e => {
    $('#user-btn-target').toggleClass('open');
  })


  $.ajax({
    url:"/show/banners/logo",
    type:"get",
    success :(res)=>{

        $('#hlogo img').attr("src",`/images/website-img/${res[0].banner_name_img}`);
    }
})

</script>