
            <div class="location-selector">

                <div class="place-selection">
                    <input type="text" placeholder="Enter your delivery address" name="" id="placeAutocompleteTag">
                    <button class="g">Find Food</button>
                    <button id="detectme" class="g">Detect My Location</button>
                    <div class="forwarding-option">

                    </div>

                </div>
            </div>
