<div class="col-lg-12 lower-header">
        <div class="container">
          <div class="cntr">
              <ul class="col-lg-12">
                  <li class="col-lg-2 sub-header-name" id="men-h">
                      <span class="sub-header-title" >Men</span>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </li>
                  <div class="sub-header-panel col-lg-12"  id="men-target">
                    <ul class="col-md-2  sub-header-ul">
                      <span>Used</span>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <li><a href="/product/Men/Used/Formal">Formals</a></li>
                      <li><a href="/product/Men/Used/Boot">Boot</a></li>
                      <li><a href="/product/Men/Used/Sandal">Sandal</a></li>
                      <li><a href="/product/Men/Used/Formal">Formals</a></li>
                      <li><a href="/product/Men/Used/Boot">Boot</a></li>
                      <li><a href="/product/Men/Used/Sandal">Sandal</a></li>
                      <li><a href="/product/Men/Used/Formal">Formals</a></li>
                      <li><a href="/product/Men/Used/Boot">Boot</a></li>
                      <li><a href="/product/Men/Used/Sandal">Sandal</a></li>
                    </ul> 
                    <ul class="col-md-2 sub-header-ul">
                        <span>Premium</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <li><a href="/product/Men/Premium/Formal">Formals</a></li>
                        <li><a href="/product/Men/Premium/Boot">Boot</a></li>
                        <li><a href="/product/Men/Premium/Sandal">Sandal</a></li>
                        <li><a href="/product/Men/Premium/Formal">Formals</a></li>
                        <li><a href="/product/Men/Premium/Boot">Boot</a></li>
                        <li><a href="/product/Men/Premium/Sandal">Sandal</a></li>
                        <li><a href="/product/Men/Premium/Formal">Formals</a></li>
                        <li><a href="/product/Men/Premium/Boot">Boot</a></li>
                        <li><a href="/product/Men/Premium/Sandal">Sandal</a></li>
                    </ul> 
                    <ul class="col-md-2 sub-header-ul">
                      <span>Brands</span>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <li><a href="/brand/adidas/Men">adidas</a></li>
                      <li><a href="/brand/nike/Men">nike</a></li>
                      <li><a href="/brand/jordan/Men">jordan</a></li>
                      <li><a href="/brand/zara/Men">zara</a></li>
                      <li><a href="/brand/trendz/Men">trendz</a></li>
                      <li><a href="/brand/ajio/Men">ajio</a></li>
                      <li><a href="/brand/gucci/Men">gucci</a></li>
                  </ul> 
                    <ul class="col-md-4 sub-header-img-holder">
                      <img src="images/website-img/men-sub-header.jpeg" alt="" srcset="">
                      <img src="images/website-img/men-sub-header-2.jpg" alt="" srcset="">
                    
                    </ul>
                                      
                  </div>
      
                  <li class="col-lg-2 sub-header-name" id="women-h">
                      <span class="sub-header-title" >Women</span>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                   
                  </li>
                  <div class="sub-header-panel col-lg-12 "id="women-target">
                        <ul class="col-md-2  sub-header-ul">
                          <span>Used</span>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                          <li><a href="/product/Women/Used/Formal">Formals</a></li>
                          <li><a href="/product/Women/Used/Boot">Boot</a></li>
                          <li><a href="/product/Women/Used/Sandal">Sandal</a></li>
                          <li><a href="/product/Women/Used/Formal">Formals</a></li>
                          <li><a href="/product/Women/Used/Boot">Boot</a></li>
                          <li><a href="/product/Women/Used/Sandal">Sandal</a></li>
                          <li><a href="/product/Women/Used/Formal">Formals</a></li>
                          <li><a href="/product/Women/Used/Boot">Boot</a></li>
                          <li><a href="/product/Women/Used/Sandal">Sandal</a></li>
                        </ul> 
                        <ul class="col-md-2 sub-header-ul">
                            <span>Premium</span>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <li><a href="/product/Women/Premium/Formal">Formals</a></li>
                          <li><a href="/product/Women/Premium/Boot">Boot</a></li>
                          <li><a href="/product/Women/Premium/Sandal">Sandal</a></li>
                          <li><a href="/product/Women/Premium/Formal">Formals</a></li>
                          <li><a href="/product/Women/Premium/Boot">Boot</a></li>
                          <li><a href="/product/Women/Premium/Sandal">Sandal</a></li>
                          <li><a href="/product/Women/Premium/Formal">Formals</a></li>
                          <li><a href="/product/Women/Premium/Boot">Boot</a></li>
                          <li><a href="/product/Women/Premium/Sandal">Sandal</a></li>
                        </ul> 
                        <ul class="col-md-2 sub-header-ul">
                          <span>Brands</span>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                          <li><a href="#">Formals</a></li>
                          <li><a href="#">Boot</a></li>
                          <li><a href="#">Sandal</a></li>
                          <li><a href="#">Formals</a></li>
                          <li><a href="#">Boot</a></li>
                          <li><a href="#">Sandal</a></li>
                      </ul> 
                        <ul class="col-md-4 sub-header-img-holder">
                          <img src="images/website-img/women-sub-header.jpg" alt="" srcset="">
                          <img src="images/website-img/women-sub-header-2.png" alt="" srcset="">
                        
                        </ul> 
                  </div>
                  
                  <li class="col-lg-2 sub-header-name" id="kid-h">
                      <span class="sub-header-title" >Kid</span>
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </li>
                  <div class="sub-header-panel col-lg-12"  id="kid-target">
                      <ul class="col-md-2  sub-header-ul">
                          <span>Used</span>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                          <li><a href="/product/Kids/Used/Formal">Formals</a></li>
                          <li><a href="/product/Kids/Used/Boot">Boot</a></li>
                          <li><a href="/product/Kids/Used/Sandal">Sandal</a></li>
                          <li><a href="/product/Kids/Used/Formal">Formals</a></li>
                          <li><a href="/product/Kids/Used/Boot">Boot</a></li>
                          <li><a href="/product/Kids/Used/Sandal">Sandal</a></li>
                          <li><a href="/product/Kids/Used/Formal">Formals</a></li>
                          <li><a href="/product/Kids/Used/Boot">Boot</a></li>
                          <li><a href="/product/Kids/Used/Sandal">Sandal</a></li>
                        </ul> 
                        <ul class="col-md-2 sub-header-ul">
                            <span>Premium</span>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <li><a href="/product/Kids/Premium/Formal">Formals</a></li>
                            <li><a href="/product/Kids/Premium/Boot">Boot</a></li>
                            <li><a href="/product/Kids/Premium/Sandal">Sandal</a></li>
                            <li><a href="/product/Kids/Premium/Formal">Formals</a></li>
                            <li><a href="/product/Kids/Premium/Boot">Boot</a></li>
                            <li><a href="/product/Kids/Premium/Sandal">Sandal</a></li>
                            <li><a href="/product/Kids/Premium/Formal">Formals</a></li>
                            <li><a href="/product/Kids/Premium/Boot">Boot</a></li>
                            <li><a href="/product/Kids/Premium/Sandal">Sandal</a></li>
                        </ul> 
                        <ul class="col-md-2 sub-header-ul">
                          <span>Brands</span>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                          <li><a href="#">Formals</a></li>
                          <li><a href="#">Boot</a></li>
                          <li><a href="#">Sandal</a></li>
                          <li><a href="#">Formals</a></li>
                          <li><a href="#">Boot</a></li>
                          <li><a href="#">Sandal</a></li>
                      </ul> 
                        <ul class="col-md-4 sub-header-img-holder">
                          <img class="col-lg-12" src="images/website-img/kid-sub-header.jpg" alt="" srcset="">
                          <img class="col-lg-12" src="images/website-img/kid-sub-header-2.jpg" alt="" srcset="">
                        </ul>
                                      
                  </div>
                  
                </ul>
          </div>
         
        </div>
      </div>