<div>
    <div class="category-container m-shadow">
        <div class="container-head g">
            <h2>Order On Tastymeal</h2>
        </div>
        <div class="container-body ">
            <center>
                    <a  href="/list/Classic" class="category-body">
                            <img class="" src="/images/normal-f.jpg" alt="">
                            <span class="m-shadow">Classic</span>
                    </a>
                    <a  href="/list/Premium" class="category-body" href="#">
                        <img class="" src="/images/premium-f.jpg" alt="">
                        <span class="m-shadow">Premium</span>
                    </a>
            </center>

          

           
        </div>

    </div>



</div>