<style>
    .card{
        background: #fff;
    box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-right: 0px;
    position: relative;
    z-index: 52;
    height: 30em;
    padding: 1em 0;
    }
    .card-mini-title{
        font-size: 15px;
    color: #333333;
    
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    padding: 1em;
    background: #f5f7f9;
    font-weight: 600;
    letter-spacing: .1em;
    }
    .card ul{
        list-style: none;
   
    width: 100%;
    padding: 1em;
    }
    .card ul li a{
        color: #545454;
    border: none;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    text-overflow: ellipsis;
    line-height: 2.5em;
    text-transform: capitalize;
    font-size: .9em;
    letter-spacing: .2em;
    margin: 0 0.9em;
    }
    .card fa{
        color: #545454;
    }
</style>


<div class="col-md-3 ">
    <div class="center-top">
        <div class="container-fluid ">
            <div class="col-md-12 ">
                <div class="card">
                    <span class="card-mini-title col-md-12">Trending </span>
                    <ul>
                        <li><i class="fa fa-search" aria-hidden="true"></i><a href="#">Jordan Boot</a></li>
                        <li><i class="fa fa-search" aria-hidden="true"></i><a href="#">Sneekr</a></li>
                        <li><i class="fa fa-search" aria-hidden="true"></i><a href="#">Heel Boot</a></li>
                        <li><i class="fa fa-search" aria-hidden="true"></i><a href="#">Jordan Boot</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>