<% include layouts/header %>
<style>

</style>

<section class=" wrapper-md animated fadeInUp">
    <div class="container-fluid bg-2 aside-xxl">
        <div class="">
            <section class="login-panel m-card-panel center-top">

                <header class=" login-head">
                    <h3> Reset Password</h3>
                    <span class="social-login-head col-md-12">
                    or <a href="/auth/register">Register</a>
                    or <a href="/auth/login">Login</a>
                    </span>
                </header>



                <form method="POST" action="/auth/reset_password" class="panel-body wrapper-lg">


                    <div class="">
                        <label class="control-label">Email Address</label>

                        <input type="text" name="email" placeholder="Enter email. address">
                    </div>

                    <button type="submit" class="m-shadow">Submit</button>
                </form>



            </section>

        </div>

        <script>

        </script>
    </div>
</section>

<% include layouts/footer %>