<% include layouts/header %>
<style>

</style>

<section class=" wrapper-md animated fadeInUp">
    <div class="container-fluid bg-2 aside-xxl">
        <div class="">
            <section class="login-panel m-card-panel center-top">

                <header class=" login-head">
                    <h3> Reset Password</h3>

                </header>



                <form method="POST" action="/auth/change_password/<%= RequestedUser.temp_verification_code %>/<%= RequestedUser._id %>"
                    class="panel-body wrapper-lg">


                    <div class="">
                        <label class="control-label">New Password</label>

                        <input type="password" required name="password" placeholder="Enter New Password">
                    </div>

                    <div class="">
                        <label class="control-label">Confirm Password</label>

                        <input type="password" required name="c_password" placeholder="Enter New Password Again">
                    </div>
                    <button type="submit" class="m-shadow">Submit</button>
                </form>



            </section>

        </div>


    </div>
</section>

<% include layouts/footer %>